<!-- Delete Action -->
<!-- TODO: Ask/research on how to do this properly -->
<a id="delete-{{ _id }}">
  <i class="big trash icon"></i>
  Delete
</a>
<div class="ui small modal" id="delete-{{ _id }}-modal">
  <div class="header">
    Delete Item
  </div>
  <div class="content">
    <span>Would you like to delete this item?</span>
  </div>
  <div class="actions">
    <div class="ui black deny button">
      Nope
    </div>
    <div class="ui red positive right labeled icon button">
      Yes, delete it
      <i class="trash icon"></i>
    </div>
  </div>
</div>
<script>
  $('#delete-{{ _id }}').click(function() {
    $('#delete-{{ _id }}-modal')
        .modal({
          onApprove: function () {
            $('<form action="/tweets/{{ _id }}/delete" method="POST"></form>').submit();
          }
        })
        .modal('show');
  });
</script>
<!-- End delete Action -->
