<header class="ui fixed menu above">
  <menu class="ui container">
    {{#if loggedIn}}
      <a class="header item" href="/tweets">
    {{else}}
      <a class="header item" href="/">
    {{/if}}
      <img class="logo" src="/images/parrot.svg"/>
      True Parrot
    </a>
    {{#if loggedIn}}
      <a class="header item" href="/tweet">
        Tweet
      </a>
    {{/if}}

    <div class="right menu">
      {{#if loggedIn}}
        <div class="ui dropdown item">
          <a href="/users/{{userId}}">
            <img class="ui avatar image" src="{{gravatar}}"/>
            {{fullName}}
          </a>
          <i class="ui dropdown icon"></i>

          <div class="menu">
            <a class="item" href="/users/{{userId}}">Profile</a>
            <a class="item" href="/settings">Settings</a>
            <div class="divider"></div>
            <a class="item" href="/logout">Logout</a>
          </div>
        </div>
      {{else}}
        <a class="item" href="/login">
          Log-in
        </a>
        <a class="item" href="/signup">
          Sign up
        </a>
      {{/if}}
    </div>
  </menu>
</header>
