<div class="ui fluid card">
  <div class="image">
    <img src="{{generateGravatar user.email 290}}">
  </div>
  <div class="content">
    <a class="header" href="/users/{{user._id}}">{{user.firstName}} {{user.lastName}}</a>
    <div class="meta">
      <span class="date">Joined {{timeAgo user.createdAt}}</span>
    </div>
    <div class="description">
      {{user.description}}
    </div>
  </div>
  {{# if tweetCount}}
    <div class="extra content">
      Has {{tweetCount}} tweets.
    </div>
  {{/if}}
  {{#isAdmin}}
    <div class="extra content">
      <form action="/admin/users/{{ user._id}}/delete" method="POST">
        <button class="negative ui button" type="submit">Admin: Delete this user</button>
      </form>
    </div>
  {{/isAdmin}}
</div>
