<section class="ui raised segment">
  {{#each tweets}}
    <div class="ui card">
      <div class="content">
        <div class="right floated meta">{{timeAgo createdAt}}</div>
        <img class="ui avatar image" src="{{generateGravatar creator.email}}">
        {{creator.firstName}} {{creator.lastName}}
      </div>
      {{#if image}}
        <div class="image">
          <img src="{{image}}">
        </div>
      {{/if}}
      <div class="content">
        <p>{{message}}</p>
      </div>
      <div class="extra content">
        <span class="right floated">
          <i class="heart outline like icon"></i>
          17 likes
        </span>
          <i class="comment icon"></i>
          3 comments
      </div>
    </div>
  {{/each}}
</section>
